* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin:0;
  background:#fff;
  text-align: center;
}

.ha {
  background: #eff0f0;
  border: 2px solid #eff0f0;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding-left: 15em;
  padding-right: 15em;

}

.navigation-bar {
    width: 100%;
    height: 80px;
    background-color: #1DB5C9;
    top: 0;
    position: fixed;
    text-align: center;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    line-height: 80px;
    padding-right: 30px;
}

a {
  color: white;
  text-decoration: none;
  right:0;
}

span.a {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
  align: left;
}

.content {
  margin: 0;
  background-color: #ECF0F1;
  width: 800px;
  height: 350px;
  margin: auto;
  padding: 10px 50px;
  overflow: scroll;
  }

  hr{
    width: 49%;
    border: 1px solid black;
    margin-top: -22px;
  }

  .email{
    color: blue;
  }

  strong{
    color: red;
  }
